<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nome</key>
		<string>Flamengo</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Clube_de_Regatas_do_Flamengo</string>
		<key>estado</key>
		<string>RJ</string>
		<key>imagens</key>
		<array>
			<string>flamengo1.jpg</string>
			<string>flamengo2.jpg</string>
			<string>flamengo3.jpg</string>
			<string>flamengo4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Corinthians</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Sport_Club_Corinthians_Paulista</string>
		<key>estado</key>
		<string>SP</string>
		<key>imagens</key>
		<array>
			<string>corinthians1.jpg</string>
			<string>corinthians2.jpg</string>
			<string>corinthians3.jpg</string>
			<string>corinthians4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Internacional</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Internacional_de_Porto_Alegre</string>
		<key>estado</key>
		<string>RS</string>
		<key>imagens</key>
		<array>
			<string>internacional1.jpg</string>
			<string>internacional2.jpg</string>
			<string>internacional3.jpg</string>
			<string>internacional4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Vasco da Gama</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Club_de_Regatas_Vasco_da_Gama</string>
		<key>estado</key>
		<string>RJ</string>
		<key>imagens</key>
		<array>
			<string>vasco1.jpg</string>
			<string>vasco2.jpg</string>
			<string>vasco3.jpg</string>
			<string>vasco4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Palmeiras</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Sociedade_Esportiva_Palmeiras</string>
		<key>estado</key>
		<string>SP</string>
		<key>imagens</key>
		<array>
			<string>palmeiras1.jpg</string>
			<string>palmeiras2.jpg</string>
			<string>palmeiras3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Grêmio</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Grêmio_Foot-Ball_Porto_Alegrense</string>
		<key>estado</key>
		<string>RS</string>
		<key>imagens</key>
		<array>
			<string>gremio1.jpg</string>
			<string>gremio2.jpg</string>
			<string>gremio3.jpg</string>
			<string>gremio4.jpg</string>
			<string>gremio5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Fluminense</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Fluminense_Football_Club</string>
		<key>estado</key>
		<string>RJ</string>
		<key>imagens</key>
		<array>
			<string>fluminense1.jpg</string>
			<string>fluminense2.jpg</string>
			<string>fluminense3.jpg</string>
			<string>fluminense4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Botafogo</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Botafogo_Football_Club</string>
		<key>estado</key>
		<string>RJ</string>
		<key>imagens</key>
		<array>
			<string>botafogo1.jpg</string>
			<string>botafogo2.jpg</string>
			<string>botafogo3.jpg</string>
			<string>botafogo4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Santos</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Santos_Futebol_Clube_(Santos)</string>
		<key>estado</key>
		<string>SP</string>
		<key>imagens</key>
		<array>
			<string>santos1.jpg</string>
			<string>santos2.jpg</string>
			<string>santos3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nome</key>
		<string>Cruzeiro</string>
		<key>url</key>
		<string>http://pt.wikipedia.org/wiki/Cruzeiro_Esporte_Clube</string>
		<key>estado</key>
		<string>MG</string>
		<key>imagens</key>
		<array>
			<string>cruzeiro1.jpg</string>
			<string>cruzeiro2.jpg</string>
			<string>cruzeiro3.jpg</string>
			<string>cruzeiro4.jpg</string>
			<string>cruzeiro5.jpg</string>
		</array>
	</dict>
</array>
</plist>
